.btn {
	border-radius: 0;
	padding-left: $t4g-padding-xxlarge-horizontal;
	padding-right: $t4g-padding-xxlarge-horizontal;
}

input {
	// Set autofill background color to white
	&:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 1000px $t4g-white inset;
		box-shadow: 0 0 0 1000px $t4g-white inset;
	}

	&[type=email],
	&[type=password],
	&[type=text] {
		color: $t4g-gray-dark;
		width: 100% !important;
		outline: 0 !important;
		padding: $padding-large-vertical $padding-large-horizontal;
		border: none;
		border-bottom: 1px solid $t4g-gray-lighter;
		border-radius: 0;
	}
}

textarea {
	outline: 0 !important;
	max-width: 100%;
	min-width: 100%;
	padding: $padding-small-vertical 0;
	border: none;
	border-bottom: 1px solid $t4g-gray-lighter;
	border-radius: 0;
}
