html {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	color: $t4g-light;
	background: #1a2235;
	background: -moz-linear-gradient(45deg, #1a2235 0%, #222f5b 100%);
	background: -webkit-linear-gradient(45deg, #1a2235 0%,#222f5b 100%);
	background: linear-gradient(45deg, #1a2235 0%,#222f5b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2235', endColorstr='#222f5b',GradientType=1 );
}
