/*********************
 CUSTOM VARIABLES
 *********************/

// Paths
$t4g-font-path:                          "fonts/";
$t4g-img-path:                           "../images/";
$icon-font-path:                        "~bootstrap-sass/assets/fonts/bootstrap/";

// Colors
$t4g-soft:                               #F1EEE7;
$t4g-light:                              #EEEEEE;
$t4g-white:                              #FFFFFF;
$t4g-black:                              #000000;
$t4g-gray-darker:                        #222222;
$t4g-gray-dark:                          #333333;
$t4g-gray-dark-offset:                   #3D4554;
$t4g-gray:                               #555555;
$t4g-gray-light:                         #7A7A8F;
$t4g-gray-lighter:                       #DDDDDD;
$t4g-gray-lightest:                      #F6F6F6;

$t4g-brand-dark:                         #303846;
$t4g-brand-dark-offset:                  #2F3B42;
$t4g-brand-light:                        #FFFFFF;
$t4g-brand-primary:                      #42C594;
$t4g-brand-danger:                       #FB436B;

// Layout
$t4g-padding-xlarge-vertical:            12px;
$t4g-padding-xlarge-horizontal:          24px;
$t4g-padding-xxlarge-vertical:           40px;
$t4g-padding-xxlarge-horizontal:         40px;

$t4g-nav-menu-height:                    58px;


/*********************
 BOOTSTRAP OVERRIDES
 *********************/

// Base
$font-family-base:                      "Source Sans Pro", Arial, Helvetica, sans-serif;
$font-family-serif:                     "PT Serif", Georgia, serif;
$text-color:                            #7F8C8D;
$link-color:                            $text-color !default;

// Typography
$font-size-base:                        15px;

$font-size-h1:                          32px;
$font-size-h2:                          28px;
$font-size-h3:                          24px;
$font-size-h4:                          21px;
$font-size-h5:                          $font-size-base !default;
$font-size-h6:                          13px;

$line-height-base:                      1.5;

$headings-font-family:                  "Source Sans Pro", Arial, Helvetica, san-serif;

// Colors
$brand-primary:                         $t4g-brand-primary;
$brand-danger:                          $t4g-brand-danger;


// Popovers
$popover-bg:                            $t4g-white !default;
$popover-max-width:                     400px !default;
$popover-border-color:                  rgba(0,0,0,.2) !default;
$popover-fallback-border-color:         $t4g-gray-lighter !default;

$popover-title-bg:                      $t4g-brand-primary !default;

$popover-arrow-width:                   10px !default;
$popover-arrow-color:                   $popover-bg !default;
$pozpover-arrow-outer-width:            ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:             fade_in($popover-border-color, 0.05) !default;
$popover-arrow-outer-fallback-color:    darken($popover-fallback-border-color, 20%) !default;

$blockquote-font-size:                  floor(($font-size-base * 2)) !default;

$table-cell-padding:                    5px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:          5px !default;

//** Default background color used for all tables.
$table-bg:                              transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:                       darken($t4g-white, 10%) !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                        $t4g-gray-dark !default;
$table-bg-active:                       $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:                  $t4g-brand-dark-offset !default;
